<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Request Leave</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include("../../partials/bootstrapLink.ejs") %>
</head>
<body>
        <%- include("../../partials/navbarGeneral.ejs") %>
        <div class="container">
    <h1>Request Leave:</h1>
        <h5 style="color:red"><%= err %></h5>
        <form action="/employee/requestLeave" method="POST">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Leave Type:</label>
                <select class="form-control" id="exampleFormControlSelect1" name="type">
                    <option selected>SELECT</option>
                    <% types.forEach(t => { %>
                        <option value="<%= t.id %>"><%= t.type %></option>
                    <% }) %>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Delegate To:</label>
                <select class="form-control" id="exampleFormControlSelect1" name="delegate">
                    <option selected>SELECT</option>
                    <% names.forEach(n => { %>
                        <option value="<%= n.id %>"><%= n.name %></option>
                    <% }) %>
                </select>
            </div>

            <div class="form-group row">
                <label for="example-date-input" class="col-2 col-form-label">Date</label>
                <div class="col-10">
                    <input class="form-control" type="date" value="yyyy-mm-dd" id="example-date-input" name="date">
                </div>
            </div>

            <!-- starting date -->
            <div class="form-group">
                <label for="exampleFormControlSelect1">Duration:</label>
                <select class="form-control" id="exampleFormControlSelect1" name="duration">
                        <option selected>SELECT</option>
                    <% for(let i = 0; i < 5; i++) { %>
                        <option value="<%= i + 1 %>"><%= i + 1 %></option>
                    <% } %>
                </select>
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea1">Reason:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="reason"></textarea>
            </div>
            <input type="hidden" name="departmentId" value="<%= department.id %>" readonly>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
        
</body>
</html>